body {
  background-color: #66b3ff;
  font-family: 'Raleway', sans-serif;
  width: 90%;
  margin: 0 auto;
}

.bodis {
  background-color: #efefef;
  color: black;
  padding: 20px;
  font-size: 120%;
  min-height: 800px;
  border-radius: 7px;
  box-shadow: 0 10px 20px 2px #444;
  margin: 20px auto;
}

.ivesti {
  margin: 55px 0 0 0;
}

input {
  text-align: center;
  border-radius: 5px 5px 0 0;
  height: 35px;
  color: #555555;
  border: 0;
}

#desine {
  display: inline-block;
  background-color: white;
  color: #555555;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  min-height: 80px;
  box-shadow: inset 0px 2px 2px 1px #d9d9d9;
  line-height: 20px;
}

#kaire {
  display: inline-block;
  background-color: white;
  color: #555555;
  border-radius: 6px;
  padding: 10px;
  margin: 20px auto;
  overflow: hidden;
  width: 100%;
  box-shadow: inset 0px 2px 2px 1px #d9d9d9;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Raleway', sans-serif;
  color: #66b3ff;
  margin: 0px;
  animation: mirksi 3s infinite;
}

#m1 {
  color: #555555;
}

.mygtukas {
  margin: 0 auto 0 auto;
  width: 100%;
  display: block;
  border-radius: 0 0 5px 5px;
  transition: all 0.5s ease;
  background-color: #66b3ff;
  color: white;
  box-shadow: inset 0px -2px 4px 0px #a6a6a6;
  border: 0;
}

.mygtukas:hover {
  bottom: 5px;
  background: #cce6ff;
  box-shadow: inset 0px -2px 2px 1px #d9d9d9;
  color: #66b3ff;
}

.laukas {
  margin: 0 auto 0 auto;
  width: 100%;
  display: block;
  box-shadow: inset 0px 2px 2px 1px #d9d9d9;
}

.btn-danger {
  margin: 0 5px;
}

.go {
  background-color: #355c7d;
  color: white;
}

h4 {
  transition: all .2s;
  cursor: pointer;
  font-size: 130%;
  font-family: 'Raleway', sans-serif;
  background-color: #efefef;
  border-radius: 5px;
  box-shadow: 0 2px 2px 1px #cccccc;
  padding: 6px;
  margin: 15px 15px 0 15px;
  min-height: 70px;
  position: relative;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 0px;
}

#pp {
  font-size: 70%;
  margin: 0 15px;
  background-color: #efefef;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 2px 2px 1px #cccccc;
  z-index: 20;
  position: relative;
  top: -3px;
  left: 0px;
  transition: all .2s;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 6px;
}

h4:hover {
  box-shadow: 0 7px 2px 1px #ccc;
  top: -7px;
}

h4:hover + #pp {
  top: -10px;
  left: 0px;
  box-shadow: 0 7px 2px 1px #ccc;
}

#modal-footer {
  float: right;
}

.mirksi {
  color: #355c7d;
}

@keyframes mirksi {
  0% {
    text-shadow: -4px 6px 20px rgba(0, 0, 0, 0.47), -1px -1px 5px rgba(255, 255, 255, 0.38);
  }
  50% {
    text-shadow: 4px 8px 20px rgba(0, 0, 0, 0.47), 1px -1px 5px rgba(255, 255, 255, 0.38);
  }
  100% {
    text-shadow: -4px 6px 20px rgba(0, 0, 0, 0.47), -1px -1px 5px rgba(255, 255, 255, 0.38);
  }
}

.linkai {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: inset 0px 2px 2px 1px #d9d9d9;
  float: right;
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto 0 auto;
  overflow: hidden;
  width: 100%;
}

h3 {
  font-weight: bold;
  color: #555;
}

#url-history {
  margin: 0 10px 10px 10px;
}